.button {
	margin-left:150px; 
	white-space: nowrap;
    ffont-size: 1.4rem;
    ffont-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
    background-color: #ff6666;
}

#sho {
	color: gray;
}

.comm {
	ffont-size: 1.4rem;
    font-weight: 400;    
    line-height: 2rem;
}